.container {
  display: flex;
  justify-content: center;
}

.carousel-container {
  width: 80vh;
}

.carousel-title {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.btn-image {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  cursor: pointer;
  display: block;
}
