<h1>Frontend Skills Show Case</h1>
<nav>
  <ul>
    <li><a routerLink="/AcessibilidadeWeb" routerLinkActive="active" ariaCurrentWhenActive="page">Acessibilidade Web</a></li>
    <li><a routerLink="/JsArmazenandoDadosNoNavegador" routerLinkActive="active" ariaCurrentWhenActive="page">Js ArmazenandoDados no Navegador</a></li>
    <li><a routerLink="/JsCriePaginasDinamicasComponent" routerLinkActive="active" ariaCurrentWhenActive="page">Js Crie Paginas Dinamicas Component</a></li>
    <li><a routerLink="/JsManipulandoODOMComponent" routerLinkActive="active" ariaCurrentWhenActive="page">Js Manipulando o DOM Component</a></li>
    <li><a routerLink="/JsProgramandoLinguagemWebComponent" routerLinkActive="active" ariaCurrentWhenActive="page">Js Programando Linguagem Web Component</a></li>
    <li><a routerLink="/LogicaComponent" routerLinkActive="active" ariaCurrentWhenActive="page">Logica Component</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
