  <a href="#conteudoPrincipal" class="pularNavegacao">Pular para conteúdo principal</a>

  <app-header-a11y></app-header-a11y>

  <main class="conteudo" role="main">

    <section class="secaoDestaque">
      <h1 class="secaoDestaque-titulo" id="conteudoPrincipal">
        APLICATIVOS NA MEDIDA
      </h1>
      <h2 class="secaoDestaque-texto">
        A Apeperia é uma startup com um jeito inovador de comprar e montar aplicativos mobile e web para pequenas e médias empresas
      </h2>

      <button class="secaoDestaque-cta btnPadrao">
        Conheça os planos
      </button>
    </section>

    <section class="secaoDiferenciais">
      <div class="container">
        <ul class="diferenciais">
          <li class="diferenciais-diferencial">
            <h2 class="diferenciais-diferencial-titulo diferenciais-diferencial-titulo--tempo">
              Tempo
            </h2>
            <p class="diferenciais-diferencial-texto">
              Tempo é importante! Trabalhamos em ritmo acelerado, atendendo rigorosamente os prazos.
            </p>
          </li>
          <li class="diferenciais-diferencial">
            <h2 class="diferenciais-diferencial-titulo diferenciais-diferencial-titulo--foco">
              Foco
            </h2>
            <p class="diferenciais-diferencial-texto">
              Focado no empreendedor, oferecemos serviços de qualidade com preços acessíveis.
            </p>
          </li>
          <li class="diferenciais-diferencial">
            <h2 class="diferenciais-diferencial-titulo diferenciais-diferencial-titulo--especialistas">
              Especialistas
            </h2>
            <p class="diferenciais-diferencial-texto">
              Equipe especializada, com experiência profissionais. Testamos todos os produtos antes do lançamento.
            </p>
          </li>
        </ul>
      </div>
    </section> <!--fim .secaoDiferenciais-->

    <section class="secaoSobre clearfix">
      <div class="container">
        <img src="../../../assets/acessibilidade-web/sobre-apeperia.png" class="secaoSobre-imgDestaque" alt="Dois homens concentrados idealizando um projeto novo em frente um quadro branco">
        <h2 class="secaoSobre-titulo tituloPadrao">
          SOBRE
        </h2>
        <p class="secaoSobre-texto">
          Criamos aplicativos personalizados de maneira diferente e para <b>todas as pessoas</b>!
        </p>
        <p class="secaoSobre-texto">
          Preocupados com o modelo atual em que um aplicativo é criado entregue e a manutenção é vista como um custo extra para o cliente, decidimos criar um novo modelo de negócio, em que você assina nosso serviço, nós criamos o aplicativo e a manutenção já é inclusa no serviço. Dessa maneira você não se preocupa com atualização, é tudo por nossa conta.
        </p>
        <p class="secaoSobre-texto">
          <b>
            Contamos com uma equipe especializada e exclusiva para projetos incríveis!
          </b>
        </p>

        <ul class="secaoSobre-plataformas">
          <li><img src="../../../assets/acessibilidade-web/android.png" alt="Android"></li>
          <li><img src="../../../assets/acessibilidade-web/blackberry.png" alt="Blackberry"></li>
          <li><img src="../../../assets/acessibilidade-web/apple.png" alt="iOS"></li>
          <li><img src="../../../assets/acessibilidade-web/windowsphone.png" alt="Windows Phone"></li>
        </ul>
        <p>
          Desenvolvemos aplicativos para todas as plataformas
        </p>
      </div>
    </section> <!--fim .secaoSobre-->

    <section class="secaoPlanos">
      <div class="container">
        <h2 class="secaoPlanos-titulo tituloPadrao">
          PLANOS
        </h2>

        <div class="secaoPlanos-plano secaoPlanos-plano--start">
          <h3 class="secaoPlanos-plano-titulo">Start</h3>
          <h4 class="secaoPlanos-plano-preco">
            R$ 500
          </h4>
          <ul class="secaoPlanos-plano-itens">
            <li>5 manutenções mensais</li>
            <li>App SEO</li>
            <li>1 sistema operacional</li>
          </ul>
          <a href="#" class="btnPadrao secaoPlanos-plano-btn">
            Assinar plano
          </a>
        </div>

        <div class="secaoPlanos-plano secaoPlanos-plano--ultra">
          <h3 class="secaoPlanos-plano-titulo">Ultra</h3>
          <h4 class="secaoPlanos-plano-preco">
            R$ 1500
          </h4>
          <ul class="secaoPlanos-plano-itens">
            <li>20 manutenções mensais</li>
            <li>App SEO</li>
            <li>4 sistemas operacionais</li>
            <li>24h de atendimento</li>
          </ul>
          <a href="#" class="btnPadrao secaoPlanos-plano-btn">
            Assinar plano
          </a>
        </div>

        <div class="secaoPlanos-plano secaoPlanos-plano--mega">
          <h3 class="secaoPlanos-plano-titulo">Mega</h3>
          <h4 class="secaoPlanos-plano-preco">
            R$ 1000
          </h4>
          <ul class="secaoPlanos-plano-itens">
            <li>10 manutenções mensais</li>
            <li>App SEO</li>
            <li>2 sistemas operacionais</li>
          </ul>
          <a href="#" class="btnPadrao secaoPlanos-plano-btn">
            Assinar plano
          </a>
        </div>

      </div> <!--fim .container da .secaoPlanos-->
    </section> <!--fim .secaoPlanos-->


    <section class="secaoBlog container">
      <h2 class="secaoBlog-titulo tituloPadrao">
        BLOG
      </h2>

      <ul class="listaDeArtigos">

        <li id="new0" class="listaDeArtigos-item">
          <article class="listaDeArtigos-artigo">
            <img src="../../../assets/acessibilidade-web/10-aplicativos-mais-baixados.png" class="listaDeArtigos-artigo-img" alt="Teclado da Apple e um celular Android">
            <h3 class="listaDeArtigos-artigo-titulo">
              Conheça os 10 aplicativos mais badalados do momento
            </h3>
            <p>
              Listamos nesta semana alguns aplicativos que estão se destacando no mundo inteiro e merecem a sua atenção. Agora, mostramos os 10 apps mais badalados do momento e por que eles estão ganhando destaque.
              <a href="#" class="listaDeArtigos-artigo-link">
                Continuar lendo o post 1
              </a>
            </p>
          </article>
        </li>

        <li id="new1" class="listaDeArtigos-item">
          <article class="listaDeArtigos-artigo">
            <img src="../../../assets/acessibilidade-web/ux-usabilidade.jpg" class="listaDeArtigos-artigo-img" alt="Pessoa segurando um celular">
            <h3 class="listaDeArtigos-artigo-titulo">
              Usabilidade: Entenda os benefícios de treinar sua equipe em UX
            </h3>
            <p>
              Vamos imaginar a seguinte situação: o time de desenvolvedores da sua empresa dedicou bastante tempo à criação de um novo software, e agora ele está tecnicamente perfeito, pronto para ser vendido.
              <a href="#" class="listaDeArtigos-artigo-link">
                Continuar lendo o post 2
              </a>
            </p>
          </article>
        </li>

        <li id="new2" class="listaDeArtigos-item">
          <article class="listaDeArtigos-artigo">
            <img src="../../../assets/acessibilidade-web/dicas-acessibilidade.jpg" class="listaDeArtigos-artigo-img" alt="Pessoas levantando um senhor para ver melhor um show">
            <h3 class="listaDeArtigos-artigo-titulo">
              5 dicas para melhorar a acessibilidade em sua interface
            </h3>
            <p>
              Será que acessibilidade é algo tão complicado que vale a pena eu abrir mão de 25% dos meus usuários? Acessibilidade normalmente é um algo não muito aplicado por aí, falta de informação talvez? 
              <a href="#" class="listaDeArtigos-artigo-link">
                Continuar lendo o post 3
              </a>
            </p>
          </article>
        </li>

      </ul>

      <nav>
        <ul class="listaDeArtigos-slider" #sliderList>
          <li>
            <a href="#new0" (click)="carosselJs(0)" data-sliderItem="0"
            [ngClass]="{ 'listaDeArtigos-slider-item--ativo': botaoAtivo === 0 }"
             class="listaDeArtigos-slider-item">
              Notícia 1
            </a>
          </li>
          <li>
            <a href="#new1" (click)="carosselJs(1)" data-sliderItem="1"
            [ngClass]="{ 'listaDeArtigos-slider-item--ativo': botaoAtivo === 1 }"
             class="listaDeArtigos-slider-item">
              Notícia 2
            </a>
          </li>
          <li>
            <a href="#new2" (click)="carosselJs(2)" data-sliderItem="2"
            [ngClass]="{ 'listaDeArtigos-slider-item--ativo': botaoAtivo === 2 }"
             class="listaDeArtigos-slider-item">
              Notícia 3
            </a>
          </li>
        </ul>
      </nav>

    </section> <!--fim .secaoBlog-->

    <section class="secaoDestaques">
      <div class="container">
        <h2 class="secaoDestaques-titulo tituloPadrao">DESTAQUES</h2>

        <a href="http://blog.apeperia.com.br/design/conheca-primeiras-etapas-criacao-logotipo-teste-teste" class="secaoDestaques-link" aria-labelledby="tituloDestaque1">
          <figure class="secaoDestaques-destaque">
            <img src="../../../assets/acessibilidade-web/comecando-criar-logotipo.png" class="secaoDestaques-destaque-img" alt="Ferramentas de designer. Ilustração">
            <figcaption class="secaoDestaques-destaque-titulo"  id="tituloDestaque1">
              Conheça as primeiras etapas na criação de um logotipo
            </figcaption>
          </figure>
        </a>

        <a href="http://blog.apeperia.com.br/design/dicas-como-fotografar-com-celular" class="secaoDestaques-link" aria-labelledby="tituloDestaque2">
          <figure class="secaoDestaques-destaque">
            <img src="../../../assets/acessibilidade-web/dicas-fotografia.png" class="secaoDestaques-destaque-img" alt="Moça mostrando câmera para rapaz">
            <figcaption class="secaoDestaques-destaque-titulo"  id="tituloDestaque2">
              Veja dicas de como fotografar usando seu celular
            </figcaption>
          </figure>
        </a>

        <button (click)="abriModal()" class="secaoDestaques-form-botao btnPadrao btnPadrao--pequeno" id="abreDialog">
          Receber destaques por email
        </button>
      </div>

      <div class="dialogNewsletter" id="dialogNewsletter" [ngClass]="{ 'dialogNewsletter--aberto': modal }">
        <div class="dialogNewsletter-body">

          <h2 class="dialogNewsletter-titulo">News sem spam</h2>
          <h3 class="dialogNewsletter-texto">
            Assine nossa newsletter para receber notícias técnicas sem spam!
          </h3>
          <form class="dialogNewsletter-form">
            <label class="dialogNewsletter-label">
              Email:
            </label>
            <input type="text" class="dialogNewsletter-campo" placeholder="Digite seu e-mail...">
            <button class="dialogNewsletter-btn">
              Assinar newsletter
            </button>
            <button (click)="fechaModal()" class="dialogNewsletter-fechar">
              X
            </button>
          </form>
        </div>
        <div class="dialogNewsletter-overlay"></div>
      </div> <!--fim .dialogNewsletter-->

    </section> <!--fim .secaoDestaques-->

    <section class="secaoContato">
      <div class="container">
        <h2 class="tituloPadrao">
          CONTATO
        </h2>

        <form class="secaoContato-form">

          <p class="secaoContato-form-legend">
            Oi, tudo bem? Fale com a gente!
            Preencha seus dados e sua mensagem:
          </p>

          <div [ngClass]="classeAtiva" class="contatoCampo">
            <label>Nome: </label>
            <input type="text" [ngClass]="classeAtiva" aria-placeholder="Nome..." required>
          </div>

          <div [ngClass]="classeAtiva" class="contatoCampo contatoCampo--erro">
            <label>Email: </label>
            <input type="email" [ngClass]="classeAtiva" aria-placeholder="Email..." required>
            <span class="contatoCampo-msg contatoCampo-msg--erro">
              Você quis dizer <a href="#">gmail.com?</a>
            </span>
          </div>

          <div [ngClass]="classeAtiva" class="contatoCampo contatoCampo--erro">
            <label>Telefone: </label>
            <input type="text" [ngClass]="classeAtiva" aria-placeholder="(11) 5571-2751">
            <span class="contatoCampo-msg contatoCampo-msg--erro">Faltou o DDD</span>
          </div>

          <div [ngClass]="classeAtiva" class="contatoCampo">
            <label>CEP: </label>
            <input type="text" [ngClass]="classeAtiva" maxlength="8" aria-placeholder="Exemplo: 04101-300" required>
          </div>

          <div [ngClass]="classeAtiva" class="contatoCampo">
            <label>Endereço: </label>
            <input type="text" [ngClass]="classeAtiva" class="contatoCampo-campoDesabilitado" readonly value="Rua Vergueiro">
          </div>

          <div class="contatoCampo">
            <label>Bairro: </label>
            <input type="text" class="contatoCampo-campoDesabilitado" readonly value="Vila Mariana">
          </div>

          <div class="contatoCampo">
            <label>Cidade: </label>
            <input type="text" class="contatoCampo-campoDesabilitado" readonly value="São Paulo">
          </div>

          <div class="contatoCampo">
            <label>Estado: </label>
            <input type="text" class="contatoCampo-campoDesabilitado" readonly value="SP">
          </div>

          <div [ngClass]="classeAtiva" class="contatoCampo">
            <label>Mensagem: </label>
            <textarea name="" cols="30" rows="10" required></textarea>
          </div>

          <div class="contatoCampo">
            <input type="checkbox" checked value="receberDestaques" class="contatoCampo-checkbox" id="receberEmail">
            <label class="contatoCampo-label" for="receberEmail">Receber destaques por email</label>
          </div>

          <div class="contatoCampo">
            <button class="secaoContato-form-cta btnPadrao" type="submit">
              Enviar mensagem
            </button>
            <span class="contatoCampo-msg contatoCampo-msg--erro secaoContatoForm-validacao">
              Verifique os erros acima
            </span>
          </div>

        </form>
      </div> <!--fim .container da .secaoContato-->

    </section> <!--fim .secaoContato-->


    <section class="secaoInstitucional">
      <div class="container">
        <h2 class="tituloPadrao">
          INSTITUCIONAL
        </h2>

        <div class="secaoInstitucional-coluna">
          <p>
            Um pouco mais sobre a Apeperia
          </p>
          <p class="secaoInstitucional-endereco">
            Rua Vergueiro, 3185 <br> Vila Mariana, São Paulo
          </p>
          <p class="secaoInstitucional-telefone">
            (11) 5571-2751 ou <a href="#">contatoApeperia</a>
          </p>
        </div>

        <video src="../../../assets/acessibilidade-web/formacao-java.mp4" class="secaoInstitucional-video" controls>
          <track src="../../../assets/acessibilidade-web/legenda-portugues-brasil.vtt" kind="subtitles" srclang="pt-br" label="Português (Brasil)">
        </video>

      </div>
    </section> <!--fim .secaoInstitucional-->
  </main>

  <app-footer-a11y></app-footer-a11y>